[Unit]
Description=Tonel Telegram Bot
After=syslog.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/x/tonel/
EnvironmentFile=/x/tonel/.env
ExecStart=/x/tonel/target/release/tonel
KillSignal=SIGQUIT
StandardError=file:/x/tonel/stderr.log
StandardOutput=file:/x/tonel/stdout.log
NotifyAccess=all

[Install]
WantedBy=multi-user.target
